.big-arrow {
    color: cornflowerblue;     
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;         
}
.thumbnail-container {
    display: flex;
    flex-flow: row wrap;
     justify-content: space-between;
     align-content: stretch;
   
}

.viewalbum-page {
    font-size: .7em;
}
