div.photo-div1 {
    background: white;
    margin-bottom: 20px;
    position: relative;
}

.add-text {
    width: 100%;
}

.tiny-button {
    width: 33px;
    height: 30px;
    background-color: lavender;
}

.buttons-div {
    margin-top: 2px;
    text-align: center;
}

.under-photo {
    position: relative;
    margin-left: 2px;
    margin-right: 2px;        
    width: var(--photo-width);
}

.photo-text {
    color: black;
    flex-basis: 100%;
    margin-top: 4px;
    margin-bottom: 40px;
    overflow: hidden;
    font-family: Lucida handwriting;
    font-size: 10px;
}

.photo-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

img {
    width: 100%;
}


@media (min-width: 1000px) {
    div.photo-div1 {
        flex-basis: 19%;
    }
}

@media (min-width: 769px) {
    div.photo-div1 {
        flex-basis: 24%;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    div.photo-div1 {
        flex-basis: 49%;
    }
}
@media (max-width: 500px) {
    div.photo-div1 {
        flex-basis: 100%;
    }
}     

:root {
    --photo-width: 200px;
  }