div.photo-div1 {
    float: left;
    width: 400px;
    margin: 5px;
}

div.photo-div2 {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tiny-button {
    width: 56px;
    height: 30px;
}

.buttons-div {
    margin-top: 2px;
    text-align: center;
}